<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Parallax Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" />
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body ng-app="app" ng-controller="MainController as mainCtrl" class="grey lighten-3">
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center white-text text-lighten-2">Parallax Template <span id="demo"></span> {{mainCtrl.currentCount}}</h1>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="./images.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m3">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Toggle isDone State</h5>
            <button class="btn materialize-red center" ng-click="mainCtrl.drawSiteOne(mainCtrl.invokeOne())">Toggle site one</button>
            <p class="light"></p>
          </div>
        </div>

        <div class="col s12 m3">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Toggle site two</h5>
            <button class="btn blue center" ng-click="mainCtrl.drawSiteTwo(mainCtrl.invokeTwo())">Toggle site two</button>
            <p class="light"></p>
          </div>
        </div>

        <div class="col s12 m3">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Toggle site three</h5>
            <button class="btn yellow center" ng-click="mainCtrl.drawSiteThree(mainCtrl.invokeThree())">Toggle site three</button>
            <p class="light"></p>
          </div>
        </div>

        <div class="col s12 m3">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">sentiment_very_satisfied</i></h2>
            <h5 class="center">Toggle site four</h5>
            <button class="btn green center" ng-click="mainCtrl.drawSiteFour(mainCtrl.invokeFour())">Toggle site four</button>
            <p class="light"></p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="container">
      <canvas class="center" id="myCanvas" width="1000" height="600" style="position: center;border:1px solid #000000;background: url('./imagesearth.jpg')">
        Your browser does not support the HTML5 canvas tag.
      </canvas>
  </div>

  <!--  cdns -->
  <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script src="js/init.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/MainController.js"></script>

  </body>
</html>
